<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sales Report</title>
	<style>
		fieldset.list * {
			display: inline-block;
		}
		table > thead > tr > th,
		table > tbody > tr > td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<fieldset class="list">
		<form action="/main">
			<button type="submit">Return to main</button>
		</form>
		<th:block th:if="${specificSeller}">
			<form method="get">
				<button type="submit">Choose another seller</button>
			</form>
		</th:block>
		<form method="get">
			<th:block th:if="${specificSeller}" th:unless="${seller == null}">
				<input type="hidden" name="seller" th:value="${seller}" />
			</th:block>
			<button type="submit">Choose another period</button>
		</form>
		<th:block th:unless="${prev == null}">
			<form method="get">
				<th:block th:unless="${seller == null}">
					<input type="hidden" name="seller" th:value="${seller}" />
				</th:block>
				<input type="hidden" name="start" th:value="${start}" />
				<input type="hidden" name="end" th:value="${end}" />
				<input type="hidden" name="page" th:value="${prev}" />
				<button type="submit">Previous page</button>
			</form>
		</th:block>
		<th:block th:unless="${next == null}">
			<form method="get">
				<th:block th:unless="${seller == null}">
					<input type="hidden" name="seller" th:value="${seller}" />
				</th:block>
				<input type="hidden" name="start" th:value="${#dates.format(start, 'yyyy-MM-dd')}" />
				<input type="hidden" name="end" th:value="${#dates.format(end, 'yyyy-MM-dd')}" />
				<input type="hidden" name="page" th:value="${next}" />
				<button type="submit">Next page</button>
			</form>
		</th:block>
	</fieldset>
	<p>Sales Report</p>
	<table>
		<thead>
			<tr>
				<th th:unless="${hideSeller}" rowspan="2">Seller</th>
				<th rowspan="2">Client</th>
				<th rowspan="2">Sold on</th>
				<th colspan="3">Products</th>
			</tr>
			<tr>
				<th>Product</th>
				<th>Price per unit</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="sale : ${sales}">
				<th:block th:each="product, stats : ${sale.products}">
					<tr>
						<td th:if="${stats.index == 0}" th:unless="${hideSeller}" th:rowspan="${#lists.size(sale.products)}" th:text="${sale.seller}" />
						<td th:if="${stats.index == 0}" th:rowspan="${#lists.size(sale.products)}" th:text="${sale.client}" />
						<td th:if="${stats.index == 0}" th:rowspan="${#lists.size(sale.products)}" th:text="${#dates.format(sale.soldOn, 'dd-MM-yyyy')}" />
						<td th:text="${product.product}" />
						<td th:text="${product.pricePerUnit}" />
						<td th:text="${product.quantity}" />
					</tr>
				</th:block>
			</th:block>
		</tbody>
	</table>
</body>
</html>
