<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manage Clients</title>
	<style>
		fieldset.list * {
			display: inline-block;
		}
		table > thead > tr > th,
		table > tbody > tr > td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<fieldset class="list">
		<form action="/main">
			<button type="submit">Return to main</button>
		</form>
		<form th:unless="${prev == null}">
			<input type="hidden" name="page" th:value="${prev}" />
			<button type="submit">Previous page</button>
		</form>
		<form th:unless="${next == null}">
			<input type="hidden" name="page" th:value="${next}" />
			<button type="submit">Next page</button>
		</form>
	</fieldset>
	<p>Clients</p>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Company</th>
				<th>Added by</th>
				<th>Added on</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="client : ${clients}">
				<tr>
					<td th:text="${client.name}" />
					<td th:text="${client.isCompany}" />
					<td th:text="${client.addedBy}" />
					<td th:text="${client.addedOn}" />
					<td style="border: none;">
						<form method="post">
							<input type="hidden" name="action" value="edit" />
							<input type="hidden" name="client" th:value="${client.name}" />
							<button type="submit">Edit</button>
						</form>
					</td>
					<td style="border: none;">
						<form method="post">
							<input type="hidden" name="action" value="delete" />
							<input type="hidden" name="client" th:value="${client.name}" />
							<button type="submit">Delete</button>
						</form>
					</td>
				</tr>
			</th:block>
		</tbody>
	</table>
</body>
</html>
