<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Select Page</title>
	<style>
		fieldset.list * {
			display: inline-block;
		}
	</style>
</head>
<body>
	<fieldset class="list">
		<form action="/main">
			<button type="submit">Return to main</button>
		</form>
	</fieldset>
	<p>Please select page:</p>
	<fieldset class="list">
		<th:block th:each="z : ${#numbers.sequence(1, pages)}">
			<form method="get">
				<input type="hidden" name="page" th:value="${z}" />
				<button type="submit" th:text="${z}" />
			</form>
		</th:block>
	</fieldset>
</body>
</html>
