<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Sale</title>
	<style>
		fieldset#head * {
			display: inline-block;
		}
	</style>
</head>
<body>
	<fieldset id="head">
		<form action="/main">
			<button type="submit">Return to main</button>
		</form>
	</fieldset>
	<form method="post" id="saleForm">
		<label for="client">Client:</label>
		<input type="text" name="client" />
	</form>
</body>
</html>
