<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Select account type</title>
</head>
<body>
	<form action="/login" method="post">
		<input type="hidden" name="loginType" value="admin"/>
		<button type="submit">Login as admin</button>
	</form>
	<br/>
	<form action="/login" method="post">
		<input type="hidden" name="loginType" value="seller"/>
		<button type="submit">Login as seller</button>
	</form>
	<footer>
		<p>
			By using this site you consent to give the site the rights to store required cookies.
			<br/>
			Cookies are used to store information about the session.
		</p>
	</footer>
</body>
</html>
