<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manage Your Profile</title>
	<style>
		fieldset.list * {
			display: inline-block;
		}
	</style>
</head>
<body>
	<fieldset class="list">
		<form action="/main">
			<button type="submit">Return to main</button>
		</form>
	</fieldset>
	<fieldset th:unless="${error == null}">
		<p>Error:</p>
		<fieldset>
			<p th:text="${error}" />
		</fieldset>
	</fieldset>
	<p>Manage Your Profile</p>
	<form method="post">
		<label for="new_pass">Enter your new password:</label>
		<input type="password" name="new_pass" required="" />
		<button type="submit">Change password</button>
	</form>
</body>
</html>
